body {
background-image:  url("../images/back.jpg");}

p {  font-size: 1em;
  color: white;
  text-align: center;
}

h1 {
  text-align: Center;
  color: darkgoldenrod;
 
}

h2 {
 text-align: center;
 font-size: xx-large;
 color:  white;

}

#sum {
  margin-bottom: 10%;
}

div#button {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}
div#newcard {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width:  200px;
  display: flex;
  margin-bottom: 5px;
  border-radius: 5px;
  margin-top: 20%;
  color: #d9d8d7;  
}
div#reset {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  margin-top: 20%;
}
div#log {
  font-weight: bolder;
  font-size: large;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  margin-top:20%}


button {  
  border:  none;
  padding-top: 10px;
  padding-bottom: 10px;
  color: black;
  font-weight: bold;
  font-size: large;
  width:  200px;
  margin-bottom: 5px;
  border-radius: 5px; 
  background-color:darkgoldenrod; 
}  

div#startbutton {
  background-c:darkgoldenrod;
}

.container {
      width: 350px;
      height: 400px;
      background-image:  url("../images/back2.jpg");;
      margin-left: auto;
      margin-right: auto;
      margin-top: auto;
      padding: 10px;
      transform: translate(0%, 50%);
      border-radius: 5px;
    }
    